@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Playfair+Display:ital@0;1&display=swap");

/*============================================*/
/*== BASELINE CSS ==========================================*/
/*============================================*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000205;
}
* {
  box-sizing: border-box;
}

body {
  color: #000205;
  background-color: #fffdfa;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  line-height: 1.4;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

/*============================================*/
/*== HEADER ==========================================*/
/*============================================*/
.page-header {
  height: 50px;
  max-width: 100%;
}

nav {
  height: 100%;
  display: flex;
  flex-direction: left;
  justify-content: space-between;
  column-gap: 20%;
  align-items: center;
  border-bottom: 1px solid #000205;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.logo {
  width: 10%;
}

.nav-links {
  width: 90%;
  display: flex;
  flex-direction: left;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

nav a {
  font-size: 14px;
  text-transform: uppercase;
}

/*============================================*/
/*== HERO SECTION ==========================================*/
/*============================================*/
#hero {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.hero p {
  font-style: italic;
  font-weight: 200;
  text-align: center;
}
h1 {
  font-family: "Exo", sans-serif;
  font-size: 6rem;
  font-weight: 100;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h2 {
  font-family: "Exo", sans-serif;
  font-size: 3.75rem;
  font-weight: 200;
  text-align: center;
}

h3 {
  font-family: "Exo", sans-serif;
  font-size: 22px;
  line-height: 48px;
  font-weight: 400;
  color: #000205;
  text-align: left;
  text-transform: uppercase;
}
.location {
  margin-top: 10px;
}

button {
  background: transparent;
  border: 1px solid #000205;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  padding: 12px 16px;
  color: #000205;
}

.socials ul {
  display: flex;
  margin: 15px 0;
}

.socials li {
  margin-right: 15px;
}

/*============================================*/
/*== ABOUT ME ==========================================*/
/*============================================*/
#about-me {
  width: 100%;
  box-sizing: border-box;
  color: #fffdfa;
  background-color: #000205;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-me {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 10%;
  margin-top: 100px;
}

.intro {
  width: 70%;
}

.intro h3 {
  margin: 20px 0;
}

.intro p {
  margin-bottom: 10px;
}
.skills-list {
  font-size: 14px;
  font-weight: 100;
}
.skills-list i::after {
  content: "|";
  margin-left: 15px;
  margin-right: 15px;
}
.skills-list i:last-child::after {
  content: ".";
  display: none;
}

.fab {
  margin-right: 5px;
  font-weight: 700;
  font-size: 25px;
}
.joyce {
  width: 30%;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 5px;
}

/*============================================*/
/*== MY WORK ==========================================*/
/*============================================*/
#work {
  color: #000205;
  background-color: #fffdfa;
  padding-bottom: 100px;
  padding-top: 100px;
}

#work h2 {
  margin-bottom: 100px;
}

#work p {
  color: #656563;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 15px;
  column-gap: 15px;
  position: relative;
  margin-top: 50px;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: start;
  padding: 1.5em 1.5em;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-image {
  width: 80px;
  height: 50px;
  margin-bottom: 20px;
}
.project-details {
  margin-bottom: 22px;
}
.tech-stack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tech-stack ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.tech-stack li {
  font-size: 12px;
  line-height: 21px;
}
.fa-external-link-alt {
  font-size: large;
  font-weight: thin;
}
/*============================================*/
/*== CONTACT ==========================================*/
/*============================================*/
#contact {
  padding: 100px 0px;
  background-color: #000205;
  color: #fffdfa;
}
#contact p {
  text-align: center;
}
#contact a {
  color: #fffdfa;
}
.contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*============================================*/
/*== FOOTER ==========================================*/
/*============================================*/

footer {
  background-color: #000000;
  padding: 10px 0px;
}
footer p {
  font-family: "Roboto Flex", sans-serif;
  font-size: 11px;
  color: #fafafa;
  text-align: center;
}

/* ==================================== */
/* Media queries ====================== */
/* ==================================== */
@media (max-width: 75em) {
  .wrapper {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
@media (max-width: 36.125em) {
  h1 {
    line-height: 100px;
  }
  .logo {
    width: 15%;
  }
  .nav-links {
    width: 85%;
  }
  .about-me {
    flex-direction: column;
    column-gap: 0;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .intro {
    width: 100%;
  }
  .joyce {
    width: 50%;
  }
}
